{% extends "base.html" %}

{% block title %} {{block.super}} User | List {% endblock %}

{% block content %}
	<h1>Control de Usuarios</h1>
	<a href="{% url 'users:create' %}">Create</a>
	<hr>
	<table id="ListTable">
		<tr>
			<td>ID</td>
			<td>Nombre de Usuario</td>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Email</td>
		</tr>
		{% for instance in object_list %}
		<tr>
			<td> {{ instance.id }} </td>
			<td> {{ instance.username }} </td>
			<td> {{ instance.first_name }} </td>
			<td> {{ instance.last_name }} </td>
			<td> {{ instance.email }} </td>
		</tr>
		{% endfor %}
	</table>

	{% comment "optional note" %}
	{% for instance in object_list %}
	     <p>{{ instance.id }} -
	     	<a href='{{ instance.get_absolute_url }}'>{{ instance.first_name }} {{ instance.last_name }}</a>
	     </p>    
	{% endfor %}
	{% endcomment %}

{% endblock %}