{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<!-- Configuracion Basica -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<!-- Titulo -->
	<title>{% block title %}Error Page{% endblock title %}</title>
	<!-- Estilos -->
	<style> {% block style %}{% endblock style %} </style>
	<!-- Extra -->
	{% block head_extra %}{% endblock head_extra %}
</head>
<body>
	<!-- Contenido -->
	{% block content %}{% endblock content %}
	<!-- jquery -->
	<script>{% block script %}{% endblock script %}</script>
</body>
</html>