{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<!-- Configuracion Basica -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<!-- Titulo -->
	<title>{% block title %}Error Page{% endblock title %}</title>
	<!-- Estilos -->
	<style> {% block style %}{% endblock style %} </style>
	<!-- Extra -->
	{% block head_extra %}{% endblock head_extra %}
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<!-- DataTables -->
	<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css">
<body>
	<!-- Barra de navegacion -->
	{% include 'navbar.html' %}
	<!-- Contenido -->
	{% block content %}{% endblock content %}
	<!-- jquery -->
	<script>{% block script %}{% endblock script %}</script>

	<script>
		$(document).ready(function() {
		    $('#ListTable').DataTable();
		} );
	</script>
</body>
</html>